<div class="row-fluid">
  <div class="span3">
    <div class="admin-head">
      <h1><%= controller.controller_name.capitalize %></h1>
    </div>
    <div class="admin-info hidden-phone">
      Here you can create and manage secondary pages. 
      <ul>
        <%= render :file => "#{Administration::Engine.root}/app/views/shared/_shortcuts.html.erb" %>
      </ul>
    </div>
  </div>

  <div class="span9 blog-content">
    <% @pages.each do |page| %>
    <div class="blog-post">
      <h1><%= link_to page.title, page %></h1>
      <i>Created <%= page.created_at.strftime("%d %b. %Y") %></i>
      <div class="structurise"><%= truncate_to_paragraph(page.content) %></div>
      <div class="blog-foot">
        <%= link_to "View page", administration.page_path(page.id), :class=>"mock-btn"%>

        <% if admin_signed_in? %>
        <%= link_to 'Edit', edit_page_path(page), :class=>"mock-btn" %>
        <%= link_to 'Delete', page, confirm: 'Are you sure?', method: :delete, :class=>"mock-btn del" %>
        <% end %>
      </div>
    </div>
    <% end %>

    <%= paginate @pages, :remote => false %>
  </div>    
</div>

