<div class="row-fluid">
  <div class="span9">
    <div class="admin-head">
      <h1><%= @page.title %></h1>
    </div>
      <div class="admin-info structurise">
        <%=raw @page.content %>
      </div>
    </div>

  <div class="span3">
    <div class="admin-head hidden-phone">
      <h1>Administration</h1>
    </div>
    <div class="admin-info hidden-phone">
      <ul>
        <li><%= link_to 'Edit this page', edit_page_path(@page) %></li>
        <li><%= link_to 'Delete this page', @page, confirm: 'Are you sure?', :method => :delete %><br></li>
      </ul>
    </div>
    <div class="admin-info hidden-phone">
      <ul>
        <%= render :file => "#{Administration::Engine.root}/app/views/shared/_shortcuts.html.erb" %>
      </ul>
    </div>
  </div>
</div>




