<h1>Members#index</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Username</th>    
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  
  <% @members.each do |user| %>
    <tr>
      <td><%= link_to user.first_name + " " + user.last_name, administration.member_path(user.id) %></td>      
      <td><%= user.email %></td>
      <td><%= user.username %></td>
      <td><%= user.role.capitalize %></td>
      <td>
        <%= button_to "Delete account", administration.member_path(user.id), data: { confirm: "Are you sure?" }, method: :delete %>
      </td>
    </tr>
  <% end %>
</table>