<h1>Members#show</h1>
<table>  
    <tr>
      <th>Name</th><td><%= @member.first_name + " " + @member.last_name %></td>
    </tr> 
    <tr>   
      <th>Email</th><td><%= @member.email %></td>
    </tr> 
    <tr>
      <th>Username</th> <td><%= @member.username %></td>
    </tr> 
    <tr>
      <th>Role</th><td><%= @member.role.capitalize %></td>
    </tr> 
    <tr>
      <td>
        <%= button_to "Delete account", administration.member_path(@member.id), data: { confirm: "Are you sure?" }, method: :delete %>
        <%#= link_to "Edit", administration.edit_member_path(@member.id) %>
      </td>
    </tr>
</table>


      
         
