<div class="row-fluid">
  <%= render :file => "#{Administration::Engine.root}/app/views/shared/_adminaside.html.erb" %>

  <div class="span9">
    <div class="row-fluid"> 
      <table class="responsive-table">
        <thead class="table-head">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>    
            <th scope="col">Role</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row" data-title="Name"><%= @member.first_name + " " + @member.last_name %></td>
            <td data-title="Email"><%= @member.email %></td>
            <td data-title="Username"><%= @member.username %></td>
            <td data-title="Role">
              <% if @member.role == :research %> 
                <%= image_tag("book.png", size: "32x32", alt: "Researcher") %>
              <% elsif @member.role == :business %>
                <%= image_tag("suitcase.png", size: "32x32", alt: "Business") %>
              <% else %>
                <%= image_tag("user.png", size: "32x32", alt: "User") %>
              <% end %>
            </td>
            <td>
              <%= link_to "Delete", administration.member_path(@member.id), confirm: "Permanently remove this member?", method: :delete, :class=>"mock-btn del" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="admin-info">
      <h3>Description</h3>
      <% unless @member.description.blank? %>
        <p><%=simple_format @member.description %></p>
      <% else %>
        <p>This user has not entered a description</p>
      <% end %>
    </div>
  </div>
</div>





