<div class="row-fluid">
  <div class="span9">
    <div class="admin-head">
     <h1><%= @blog.title %></h1>
   </div>
   <div class="blog-showcase">
     <%= simple_format @blog.content %>
   </div>
 </div>
 <div class="span3">
    <div class="admin-head">
      <h3>Post by <%= @blog.author %></h3>
      <i>Posted <%= @blog.created_at.strftime("%d %b. %Y") %></i>
    </div>
    <div class="admin-info hidden-phone">
      <ul>
        <% if admin_signed_in? %>
          <li><%= link_to 'Edit This post', edit_blog_path(@blog) %></li>
          <li><%= link_to 'Delete This post', @blog, confirm: 'Are you sure?', :method => :delete %></li>

          <%= render :file => "#{Administration::Engine.root}/app/views/shared/_shortcuts.html.erb" %>
        <% else %>
          something useful
        <% end %>
      </ul>
    </div>
  </div>
</div>


<% if @blog.blog_comments.size > 0 %>
  <h2>Comments</h2>
  <% @blog.blog_comments.each do |comment| %>

    <% if comment.admin %>
      <h3>Administrator</h3>
    <% else %>
      <h3><%= find_comment_author(comment.author) %></h3>
    <% end %>
    <p><%= comment.created_at.strftime("%I:%M %d %b, %Y") %></p>

    <p><%= comment.content %></p>
  <% end %>
<% end %>

<% if admin_signed_in? || user_signed_in? %>
  <h2>New Comment</h2>
  <%= form_for [@blog, Administration::BlogComment.new] do |f| %>
    <p><%= f.text_area :content, :rows => 10 %></p>
    <p><%= f.submit "Send" %></p>
  <% end %>
<% end %>



