<li><%= link_to "Administration", administration.root_path %></li>

<!-- Dropdown här? Articles -->
<li><%= link_to "Articles", administration.publications_path %></li>

<!-- Dropdown här? -->

<!-- Dropdown här? Users kanske-->
<li><%= link_to "Members", administration.members_path %></li>
<li><%= link_to "Admins", administration.admins_path %></li>
<!-- Dropdown här? -->
<li><%= link_to "Pages", administration.pages_path %></li>

<li><%= link_to "Blogs", administration.blogs_path %></li>

<!-- Höger align? -->
<li><%= link_to "Sign out", auth.destroy_admin_session_path, method: :delete %></li>
<!-- Höger align? -->