<li class="hidden-phone"><b>Quick Actions</b></li>
<li><%= link_to "New page", administration.new_page_path %></li>
<li><%= link_to "New blog post", administration.new_blog_path %></li>
<li class="hidden-phone"><br><b>Article groups</b></li>
<li><%= link_to "Types", administration.article_types_path %></li>
<li><%= link_to "Clusters", administration.article_cluster_categories_path %></li>
<li><%= link_to "Categories", administration.article_categories_path %></li>