<%= form_for(@cluster, url: @path, html: { method: @method }) do |f| %>
  <% if @cluster.errors.any? %>
    <div class="error_messages">
      <h3>Submission failed</h3>
      <ul>
        <% for message in @cluster.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, value: restore_whitespace(@cluster.title) %>
  </div>

  <div>
    <%= f.label :description, "Description" %><br>
    <%= f.text_area :description, :rows => 10, :class=>"span11"  %>
  </div>

  <div>
    <%= f.submit "Submit", :class=>"mock-btn" %>
  </div>
  
<% end %>