<div class="row-fluid">
	<%= render :file => "#{Administration::Engine.root}/app/views/shared/_adminaside.html.erb" %>

	<div class="span9 ">
		<!-- <div class="admin-head"><h3>Clusters</h3></div> -->
		<%= link_to "New cluster", administration.new_article_cluster_category_path,:class=>"mock-btn" %>
		<div class="row-fluid admin-info"> 
			<% @clusters.each do |cluster| %>
			<div class="latest">

				<h3><%= cluster.title %></h3>
				<%= cluster.description %>
				<div>
				<%=link_to "Edit", administration.edit_article_cluster_category_path(cluster.id),:class=>"mock-btn" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
