<%= form_for(@type, url: @path, html: { method: @method, class:"basic-form"}) do |f| %>
  <% if @type.errors.any? %>
    <div class="error_messages">
      <h3>Submission failed</h3>
      <ul>
        <% for message in @type.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, value: restore_whitespace(@type.title), placeholder: "Maximum length is 20 characters" %>
  </div>

  <div>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, :rows => 5, placeholder: "Maximum length is 255 characters" %>
  </div>

  <div>
    <%= f.submit "Save", :class=>"mock-btn" %>
  </div>
  
<% end %>