<div class="row-fluid">
	<%= render :file => "#{Administration::Engine.root}/app/views/shared/_adminaside.html.erb" %>

	<div class="span9 ">
		<div class="admin-head"><h3>Types</h3></div>
		<div class="overview">
			<%= link_to "New type", administration.new_article_type_path,:class=>"mock-btn" %>
			<div class="row-fluid"> 
				<% @types.each do |type| %>
					<div class="index-list-style">
						<h3><%= restore_whitespace(type.title) %></h3>
						<span><%= type.description %></span>
						<span><%=link_to "Edit", administration.edit_article_type_path(type.id),:class=>"mock-btn" %></span>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
