<div class="row-fluid">
	<%= render :file => "#{Administration::Engine.root}/app/views/shared/_adminaside.html.erb" %>

	<div class="span9 ">
		<!-- <div class="admin-head"><h3>Types</h3></div> -->
		<%= link_to "New type", administration.new_article_type_path,:class=>"mock-btn" %>
		<div class="row-fluid admin-info"> 
			<% @types.each do |type| %>
			<div class="latest">

				<h3><%= type.title %></h3>
				<%= type.description %>
				<div>
				<%=link_to "Edit", administration.edit_article_type_path(type.id),:class=>"mock-btn" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>