<div class="row-fluid">
	<%= render :file => "#{Administration::Engine.root}/app/views/shared/_adminaside.html.erb" %>

	<div class="span9 ">
		<!-- <div class="admin-head"><h3>Categories</h3></div> -->
		<%= link_to "New category", administration.new_article_category_path,:class=>"mock-btn" %>
		<div class="row-fluid admin-info"> 
			<% @categories.each do |category| %>
			<div class="latest">

				<h3><%= category.title %></h3>
				<%= category.description %>
				<div>
				<%= link_to "Edit", administration.edit_article_category_path(category.id),:class=>"mock-btn" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
